body{
	width: 100%;
	margin: 0px;
	min-width: 500px;
	max-width: 1300px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-align: center;
}

html{
	margin: 0px;
	padding: 0px;
}
.red{
	background-color: blue;
	width:100%;
	margin: 0;
	padding: 10px;
	min-height: 250px;
}

.kolona{
	background-color: red;
	margin-left: 2%;
	margin-right: 2%;
	min-height: 250px;
	float: left;
}


.kolona.dva{
	width: 45%;
}

.kolona.tri{
	width: 29%;
}

#footer {
	min-height: 75px;
	background-color: yellow;
}