body{
	width: 100%;
	margin: 0px;

	padding: 0px;
	overflow-x: hidden;
	height: 100vh;
	
}

html{
	height: 100%;

}
.red{
	width:100%;
	margin:0;
	padding-top: 2vh;
	height: 40vh;

}

.kolona{
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	
	height: 250px;
	float: left;
}


.kolona.dva{
	width: 45%;
}

.kolona.tri{
	width: 29%;
	overflow: hidden;
}

#footer {
	height: 10vh;
	
}
#kontakt_info{
	margin-top: 75px;
	margin-left: 80px;
	margin-right: 0;
}



@media only screen and (max-width:768px) {
     /*Za mobitele: */
    .kolona.dva{
    	width: 100%;

    }
    .rasiri {
        width: 100%;
        float: right;

    }
    .ikona
    {
    	visibility: visible!important;
    }
    .sakrij
    {
    	display: none;
    }
    

    #kontakt_info{
    	margin-left: 20px;
    	padding-left: 0px;

    }

    .stavke{
    	visibility: hidden;
    }

    #red_galerija
    {
    	height: 250px;
    }



    
}

@media only screen and (max-width: 1210px)
{
	 .stavke{
    	visibility: hidden;
    }

.ikona
    {
    	visibility: visible!important;
    }


}

@media only screen and (max-width:1400px) and (min-width: 1200px)
{
	.dropdown{
		visibility: hidden!important;
	}

	
}

@media only screen and (max-height: 450px)
{
	.index.opis{
		display: none!important;	
	}


	.rasiri{
		height: 20vh;
	}

	.index.title{
		height: 20vh;
	}
}

.red.header{
	opacity: 0.85;
	padding: 0;
	background-size: cover;
	background-position: center;
	background-clip: content-box;
	overflow: auto;
	height: 250px!important;
}

#header_tedtalks{
	background-image:url(http://www.ijmuk.org/sites/default/files/styles/surcore_image_desktop_1x/public/page/Newsroom%20-%20Header3.jpg?itok=Zms149Fd);
}

#header_softskills{
	background-image: url(http://mfassets.s3.amazonaws.com/company/C97db159a1c6c09a6aad4ec5a33d730f5/assets/D6ad09f3318eba404c715c9138e42fa70-0516C9983B13D0F153091D1CCF3674F9.jpg);
}

#header_novosti{
	background-image: url(https://wallpaperscraft.com/image/newspaper_coffee_cup_spoon_sunglasses_news_cup_holder_84893_1366x768.jpg);}

#header_kontakt{
	background-image: url(http://mfassets.s3.amazonaws.com/company/C97db159a1c6c09a6aad4ec5a33d730f5/assets/De7dd17a81896d678ff4d9b1977ceee5e-89939A629F44042F987F1D28924C2879.jpg);
}

#header_login{
	background-image: url(https://static.pexels.com/photos/6352/woman-hand-smartphone-laptop-landscape.jpg);
}
#header_signup{
	background-image: url(http://images.wisegeek.com/hands-on-keyboard-of-laptop.jpg);
}

#header_galerija{
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/8f/66/73/8f66738441685ea781845c417e7d6760.jpg);

}

.naslov{
	font-size: 50px;
	font-family: "Candara";
	position: absolute;
	top: 130px;
	left: 12px;
	color: white;
	text-shadow: 2px 2px 4px black;
}

.index_background{
	background: url(http://www.otj.com/wp-content/uploads/2015/06/Pantry-v2.jpg) no-repeat center center fixed;
    
    background-size: cover;
    height:100%;
    width:100%;
    opacity: 0.95;
    position: relative;
    background-color: #D92528;
    
}

#index_naslov{
	color: black;
	font-size: 100px;
	top:150px;
	left: 1000px;
}


.meni{
	margin-top: 10px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;

}

.meni.stavka{
	float: right;
	padding-left: 10px;
	padding-right: 10px;

}

.meni.link{
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px 6px black;
	font-family: "Candara";
	font-size: 20px;
	
}

.drop.link{
	text-decoration: none;
	color: black;
	font-weight: 550;
	text-shadow: 1px 1px 2px black;
	font-family: "Candara";
	font-size: 15px;
}

.drop.stavka{
	text-align: right;
}

.menu
{
	background-color: transparent; 
	margin-top: 15px;
	margin-right: 2%; 

	float: right;
	z-index: 10;
	color: white!important;
	position:relative;
	height:30px;
  	color:white;
  	width: 50%;
}


.dropdown
{
	visibility: hidden;
	position: relative;
	height: 145px;
	margin-right: 30px;
	float: right;
	width: 100%;
	z-index: 5;
	padding-right: 10px;

	box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.6);
	background-color: white;
	opacity: 0.2;
	

}




.home
{
		margin-top: 15px;
		margin-left: 1%;
		height: 30px;
		position: relative;
		width: 30%;
		float: left;
}

.homeBtn
{
	z-index: 10;
	height: 30px;
	width: 35px;
	
}

.ikona{
	visibility: hidden;
	float: right;
	z-index: 10;
	position:absolute;
	right: 15px;
	height:30px;
}


.meniIkona
{
		
	height: 30px;
	width: 35px;
	float: right;

}

.index_background .shadow 
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #5D5D5D;
  opacity: 0.55;
  z-index: 5;
}

.index{
	font-family: "Candara";
	z-index: 10;
	color: white!important;
	text-shadow: 2px 2px 4px black;
	position: relative;
	float: right;
	
}

.index.title{
	font-size: 80px;
	margin-right: 5%;
	margin-top: 0%;
	margin-bottom: 0%;
}

.index.opis{
	font-size:17px;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 0%;
	text-align: right;

}

form{
	text-align: center;
	padding-bottom: 2px;
}

#forma_poruka{
	text-align: left;
}
.input_text{
	font-size: 20px;
	font-family: "Candara";
	color: gray;
	margin: 0;
}

.unos{
	border: 1px solid dimgray;
	border-radius: 9px;
	width: 300px;
	height: 30px;
}

.btn{
	border-radius: 9px;
	background-color: dimgray;
	font-size: 20px;
	width: 300px;
	height: 40px;
	color: white;
	font-family: "Candara";
}

.kontakt{
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	padding-left: 50px;
	font-size: 25px;
	font-family: "Candara";
	color: black; 
}

#ime{
	background-image: url(http://www.freeiconspng.com/uploads/person-outline-icon-png-person-outline-icon-png-person-17.png);
}

#mail{
	background-image: url(http://simpleicon.com/wp-content/uploads/mail-4.png);
}

#telefon{
	background-image: url(http://simpleicon.com/wp-content/uploads/phone-symbol-2.png);
}



#porukaBtn{
	float: right;
	width: 150px;
	margin-right: 90px;
}

.galerija.slika{
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	
}




.greska{
	font-size: 18px;
	font-family: "Candara";
	color: black;
	text-align: center;
	margin: 0;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-slika {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}